<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<form [formGroup]="form" (submit)="onSubmit()">

  <div class="form-group">
    <label>City Name</label>
    <div>
      <input class="form-control" type="text" name="city" formControlName="city" />
    </div>
  </div>

  <div class="form-group">
    <label>Temperature</label>
    <div>
      <input class="form-control" type="text" name="temperature" formControlName="temperature" />
    </div>
  </div>

  <div class="form-group">
    <label>Metadata</label>
    <div>
      <input class="form-control" type="text" name="metadata" formControlName="metadata" />
    </div>
  </div>

  <!-- Submit Button -->
  <input [disabled]="!form.valid" class="btn btn-primary" type="submit" value="Post" />

</form><br/>

<form [formGroup]="formSearch" (submit)="onSubmitSearchTerm()">

  <div class="form-group">
    <label>Search Term</label>
    <div>
      <input class="form-control" type="text" name="term" formControlName="term" />
    </div>
  </div>

  <!-- Submit Button -->
  <input [disabled]="!formSearch.valid" class="btn btn-primary" type="submit" value="Search" />

</form><br/>

<input class="btn btn-primary" type="button" value="Write" (click)="onClickWrite()">

<input class="btn btn-primary" type="button" value="Read" (click)="onClickRead()">

<div class="box box-default">
  <code>
    <pre>{{resData |json}}</pre>
  </code>
</div>
